@font-face {
  font-family: Meiryo;
  src: url("https://github.com/huiyuan/forum/blob/master/fonts/Meiryo.ttf");
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}

body {
  background-image: url("background.png");
  text-align: center;
  color: white;

  font-family: Meiryo;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  
  margin: auto;
  width: auto;
  height: auto;
  text-shadow: 0px 0px 5px black;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  size: 24px;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
  size: 24px;
}

p {
  margin: auto;
}