@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
  background-image: url("background.png");
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  text-align: center;
  color: white;
  font-family: "Montserrat", "Mplus 1p", "Hiragino Sans", "Hiragino Kaku Gothic Pro", "游ゴシック", "游ゴシック体", "YuGothic", "Yu Gothic", "ＭＳ ゴシック" , "MS Gothic", sans-serif;
  margin: auto;
  width: 50em;
  text-shadow: 0px 0px 10px black;
  size: 24px;
}

a:link {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

hr.solid {
  border-top: 3px solid #ffffff;
  width: 24em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

img {
  border-radius: 50%;
  box-shadow: 0px 0px 25px black;
  size: fill;
  position: center;
  background-repeat: no-repeat;
}

button {
  height: 3em;
  position: center;
  box-shadow: 0 0 16px 4px rgba(0,0,0,1.0);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.25s;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 2.5em;
  margin: 0.5em;
  color: white;
  border: none;
}

button:hover {
  transform: scale(1.125);
}

.twitter {
  background-color: #1da1f2;
}

.youtube {
  background-color: #ff0000;
}

.pixiv {
  background-color: #0096fa;
}

.pronounspage {
  background-color: #c41484;
}

.ao3 {
  background-color: #970000;
}

.github {
  background-color: #000000;
}